
    <%- include('header') -%>

    <div class="box" id="heading">
        <h1><%= listTitle %></h1>
    </div>

    <div class="box" id="">
        <% for(var i=0; i<newTodoItem.length; i++) { %>
            <div class="item">
                <input type="checkbox">
                <p><%= newTodoItem[i] %></p>
            </div>
        <% } %> 

        <form class="item" action="/" method="post">
            <input placeholder="New Item" type="text" name="new_todo_item">
            <button type="submit" name="list" value=<%= listTitle %>>+</button>
        </form>

    </div>

    <%- include('footer') -%>
